<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>

  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <!-- Material+Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- all.css -->
  <link rel="stylesheet" href="./assets/style/all.css">

  <!-- Source Han San 字形載入 -->
  <script>
    (function (d) {
      var config = {
        kitId: 'hgt0kav',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>

<body>
  <header class="position-relative | bg-secondary | py-7">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="img-replace-text-header"><a href="#">logo</a></h1>
      <nav class="d-none d-lg-block | position-absolute start-50 translate-middle-x">
        <ul class="d-flex align-items-center">
          <li><a href="#" class="link link-dark">課程介紹</a></li>
          <li><a href="#" class="link link-dark">瑜珈空間</a></li>
          <li><a href="#" class="link link-dark">當月課表</a></li>
        </ul>
      </nav>
      <div class="d-none d-lg-block">
        <a href="#" class="btn btn-outline-primary rounded-4 | py-3 me-5">立即預約</a>
        <a href="#" class="btn btn-outline-primary rounded-4 | py-3">聯絡我們</a>
      </div>

      <!-- mobile block collapse button -->
      <span class="material-icons-outlined | fs-9 text-primary | d-lg-none" data-bs-toggle="collapse" href="#menuList"
        role="button" aria-expanded="false" aria-controls="collapseExample">reorder</span>
    </div>

    <!-- mobile block collapse -->
    <nav class="collapse" id="menuList">
      <ul class="d-flex flex-column align-items-center">
        <li class="w-100"><a href="#" class="btn btn-outline-primary border-0 | fs-md-3 | py-3 w-100">課程介紹</a></li>
        <li class="w-100"><a href="#" class="btn btn-outline-primary border-0 | fs-md-3 | py-3 w-100">瑜珈空間</a></li>
        <li class="w-100"><a href="#" class="btn btn-outline-primary border-0 | fs-md-3 | py-3 w-100">當月課表</a></li>
        <li class="w-100"><a href="#" class="btn btn-outline-primary border-0 | fs-md-3 | py-3 w-100">立即預約</a></li>
        <li class="w-100"><a href="#" class="btn btn-outline-primary border-0 | fs-md-3 | py-3 w-100">聯絡我們</a></li>
      </ul>
    </nav>
  </header>

  <%- contents %>

    <footer class="bg-primary | py-11">
      <div class="container d-md-flex justify-content-between align-items-center | pb-8 pb-md-11">
        <p class="fs-5 fw-regular fw-md-medium text-white | pb-3 pb-md-0">現在訂閱，獲得課程優惠碼！</p>
        <div class="d-flex">
          <input type="email" class="rounded-start border-0 | py-3 px-5" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button type="button" class="btn btn-third rounded-0 rounded-end | text-white" id="button-addon2">訂閱</button>
        </div>
        <!-- <form class="d-flex"> -->
          <!-- <input class="border-0 | py-3 px-5" type="email" name="email" id="email" placeholder="輸入您的電子信箱"> -->
          <!-- <label class="d-block bg-third | fs-3 text-white | py-3 px-5" for="">訂閱</label> -->
        <!-- </form> -->
      </div>
      <hr class="bg-white | m-0 mb-11">

      <div class="container d-flex justify-content-between | position-relative">
        <div>
          <div class="img-replace-text-header-footer | mb-3">footer-logo</div>
          <ul>
            <li class="mb-3"><a href="#" class="fw-light text-white | link link-white | p-0">課程介紹</a></li>
            <li class="mb-3"><a href="#" class="fw-light text-white | link link-white | p-0">瑜珈空間</a></li>
            <li class="mb-3 mb-md-0"><a href="#" class="fw-light text-white | link link-white | p-0">當月課表</a></li>
            <li class="d-md-none">
              <p class="d-md-none | text-white">© 2021. All Rights Reserved.</p>
            </li>
          </ul>
        </div>
        <ul class="d-flex">
          <li><a href="#"><i class="fab fa-facebook | fs-4 text-white | link link-scale | p-0"></i></a></li>
          <li class="ms-3"><a href="#"><i class="fab fa-instagram | fs-4 text-white | link link-scale | p-0"></i></a></li>
          <li class="ms-3"><a href="#"><i class="fab fa-line | fs-4 text-white | link link-scale | p-0"></i></a></li>
        </ul>
        <p class="d-none d-md-block | text-white | position-absolute bottom-0 start-50 translate-middle-x">© 2021. All
          Rights Reserved.</p>
      </div>
    </footer>

    <!-- 右側釘選媒體 -->
    <ul class="d-none d-lg-block | position-fixed top-50 end-0 translate-middle-y | pe-1">
      <li class="mb-3"><a href="#"><i class="fab fa-facebook | fs-8 text-primary"></i></a></li>
      <li class="mb-3"><a href="#"><i class="fab fa-instagram | fs-8 text-primary"></i></a></li>
      <li class=""><a href="#"><i class="fab fa-line | fs-8 text-primary"></i></a></li>
    </ul>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>