// layout
.header-logo{
    @include img-replace-text(96px, 31px){
        background-image: url(/assets/images/DOYOGA-logo.png);
    }
}

.footer-logo{
    @include img-replace-text(96px, 31px){
        background-image: url(/assets/images/DOYOGA.png);
    }
}

// index
.bg-banner{
    width: 100%;
    height: 582px;
    background-image: url(/assets/images/bg-banner.jpeg);
    background-size: cover;
    background-position: center bottom;
}
.bg-teaching{
    width: 100%;
    height: 628px;
    background-image: url(/assets/images/bg-teaching.jpeg);
    background-size: cover;
    background-position: center;
}