.btn{
    &-secondary{
        &:hover{
            background-color: $primary;
            color: $white !important;
        }
        // current 判斷,還沒成功
        &--checked{
            background-color: $primary;
            color: $white !important;
        }
    }
    // reservation的三個按鈕有用到
    &.active{
        background-color: $primary;
        color: $white !important;
    }
}