.btn{
    // layout
    &-outline-primary{
        &:hover{
            color: $white !important;
        }
    }
    // index banner
    &-secondary{
        &:hover{
            background-color: $primary;
            color: $white !important;
        }
    }
}