.btn{
    &-secondary{
        &:hover{
            background-color: $primary;
            color: $white !important;
        }
        // current 判斷
        &--checked{
            background-color: $primary;
            color: $white !important;
        }
    }
}