.card{
    // reservation
    &-border{
        border: 4px solid transparent;
        &-white{
            &:hover{
                border: 4px solid $white;
            }
        }
        &-third{
            &:hover{
                border: 4px solid $third;
            }
        }
        
    }
    
    // course
    &-tag{
        top: -15px;
        left: 24px;
    }
    &-teacher-h{
        height: 418px;
        @include media-breakpoint-up(lg){
            height: 460px;
        }
    }
}