// 純文字的連結，hover效果不變動background
.link{
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;
    &-primary{
        color: $primary;
        &:hover{
            border-bottom: 1px solid $primary;
        }
    }
    &-secondary{
        color: $secondary;
        &:hover{
            border-bottom: 1px solid $secondary;
        }
    }
    &-third{
        color: $third;
        &:hover{
            border-bottom: 1px solid $third;
        }
    }
    &-dark{
        color: $dark;
        &:hover{
            border-bottom: 1px solid $dark;
        }
    }
    &-white{
        color: $white;
        &:hover{
            border-bottom: 1px solid $white;
        }
    }
    &-scale{
        &:hover{
            transform: scale(1.3);
        }
    }
}

